@charset "UTF-8";

:root {
    --lilas: #5F2C82;
    --aqua-escuro: #53AAA7;
    --aqua-claro: #94CFCD;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

body {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 280px;
    border-radius: 15px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    transition: width .2s, height .2s;
}

.img {
    background: #fff url(../img/pattern.jpg) no-repeat top center;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.login {
    padding: 10px;
}

.login h1 {
    text-align: center;
    margin: 5px 0;
}

.login p {
    margin: 10px 0;
}

.caixa-input {
    background-color: var(--lilas);
    height: 30px;
    padding: 5px;
    margin: 5px 0;
    border-radius: 7px;
}

.material-icons {
    color: #fff;
    width: 25px;
    padding: 5px;
}

.email-senha {
    display: inline-block;
    width: calc(100% - 43px);
    background-color: var(--aqua-claro);
    height: 100%;
    border: none;
    border-radius: 7px;
    transform: translateY(-9px);
}

.email-senha:focus {
    background-color: #fff;
}

.caixa-input > label {
    display: none;
}

.btn-entrar, .btn-recuperar {
    font-size: 1em;
    display: block;
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    border-radius: 7px;
}

.btn-entrar {
    background-color: var(--aqua-escuro);
    color: white;
    border: none;
   
}

.btn-entrar:hover {
    background-color: #2c5857;
    cursor: pointer;
}

.btn-recuperar {
    text-align: center;
    text-decoration: none;
    color: #2c5857;
    border: 1px solid var(--aqua-escuro);
    box-sizing: border-box;
}

.btn-recuperar:hover {
    background-color: var(--aqua-claro);
}

.btn-recuperar > span {
    vertical-align: middle;
    padding: 0;
    color: #2c5857;
    font-size: 1em;
}
